*{
    margin: 0;
    padding: 0;
}

#menu{
    background-color: rgb(77, 0, 200);
    display: flex;
    justify-content: center;
}

#menu a{
 
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu a:hover{
background-color: rgb(255, 255, 255);
color: black;

}

.texto{
    color: rgb(0,150,0);
    text-align: center;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}